body {
    color: rgb(255, 255, 255);
    background: url("batikbg1.png") rgb(116, 116, 156) repeat;
    background-size: 30%;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    font-weight: bold;
}

a {
    color:rgb(144, 248, 252);
}

main {
    background-color: rgba(0, 0, 0, 0.137);
}

footer {
    font-weight: bold;
}

img {
    width: 50%;
}

.list {
    list-style-image: url("bulletpoint.png");
}
.current {
    text-decoration: none;
    color:rgb(122, 196, 199);
}

.flag {
    background-image: url("IndonesiaFlag.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 20%;
}