body {
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    background-color: rgb(109, 250, 203);
    margin: 0;
    padding: 5px;
}

nav {
    display: flex;
    background-color: rgb(112, 102, 167);
    justify-content: space-evenly;
}

nav a {
    padding: 5px;
    display: block;
    flex-direction: column;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: rgb(244, 255, 85);
    background-color: rgb(238, 121, 121);
}
aside {
    margin-right: 20px;
}

main {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.maincontent {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-bottom: 30px;
}
.card h3, p {
    font-size: small;
}

.wrapper {
    display: flex;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.child {
    display: block;
}

.card {

    width: 300px;
    border: thin black solid;
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.4);
}

.mainimg {
    width: 100%;
}